<h1>Comments Index</h1>
<%@comments.each do |comment|%>
    <div>
        <%="#{comment.user.name} | #{comment.created_at}"%>
        <%=comment.comment_text%>
        <%=button_to 'Delete', "comments/#{comment.id}",method: :delete%>
    </div>
<%end%>
