<h1>Movie Index</h1>
<div class=gallery id=index>
<%@movies.each do |movie|%>
    <li id=index><%=link_to image_tag(movie.poster), movie_path(movie)%>  
        <p><%= movie.title %></p>
    </li>
<%end%>
</div>
