<h1> new user PAGE </h1>
<%=cookies[:fun]%>
<%= render 'form_base' %>



<div class= "inline" >
Digimon World 2 is a dungeon crawler RPG, a departure from its predecessor Digimon World, which focused on raising Digimon like pets. The player explores vast labyrinths dubbed "Domains", inside a tank called a "Digi-Beetle". 
These dungeons are filled with enemy Digimon, who once encountered, trigger a battle with the player's own team of Digimon in a battle system similar to other traditional turn-based JRPG's. The domains also contain various obstacles and traps such as land mines, energy fields called "Electro-Spores", giant stones, acid floors, treasure chests. Most traps can be disposed of by items that can be purchased at stores found across the game, and enemy Digimon can be befriended with "gift" items. However, the Digi-Beetle has a limited inventory, requiring careful management of items. Typically, at the end of each Domain there is a Boss, whether it be a lone Digimon, or another Tamer with a team of them. After defeating the Boss, the player may exit the Domain by means of an "Exit Portal" found near the Boss' location.
</div>