@import "bootstrap";

/* this gives formats the overall big menu bar. */
body{
    padding-top: 75px;

}
.logo{
    width:90px;    
}
.header-buttons{
    float: right;
}
/* the following are styling for the top-menu/ header-buttons buttons. */
#log-out-button{
    background: green;
}
#welcome-status{
    background: blue;
}
#sign-up-button{
    background: purple;
}
#log-in-button{
    background: skyblue;
}
/* this is the end of the individual button styles */

.header-button{
    
    text-decoration: none !important ;
    border-radius: 20px;
    padding: 7px 20px;
    float: right;
    margin-top: 15px;
    color: white !important;
    font-weight: 600;
    background-image: url(asset_path("button-background.png"));
    background-size: 50%;
}
.top-menu{
    width: 100%;
    height: 10%;
    z-index: 1;
    
    background-image: url(asset_path("button-background.png"));
    background-size: 25%;
    position: fixed;
    top: 0;
    margin-bottom: 50px !important;
}


.movie-details{
    margin: 3% 0;

}
.creator-info img{
    height: 100px;
    width: 100px;

}
.right-box a {
    text-decoration: none !important ;
    border-radius: 20px;
    padding: 7px 20px;
    margin-top: 15px;
    color: white !important;
    font-weight: 600;
    background-image: url(asset_path("button-background.png"));
    background-size: 50%;
    display: inline-block;
}
.left-box{
    overflow:hidden;
    height: 700px;
    width: 500px;
    text-align: center;
}
.left-box img{    
       height: 500px;
       

}

.this-weeks-showings h3{
    color:black;
}

.this-weeks-showings img{
    width:50%;
    margin-top: 15px;
}