// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.inline{
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(https://pbs.twimg.com/media/Dtc9IMJUUAEA8Iz.jpg) 30 round;
    background: url(https://pbs.twimg.com/media/Dtc9IMJUUAEA8Iz.jpg) -50px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 40px;

    width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  .inline input{
    -webkit-text-fill-color: black;

  }
 
  body{ background: black;
color: yellow;

 text-align: center;    
    font-family: "futura";
    text-align: center;
}

.style_image{
    background: url(https://pbs.twimg.com/media/Dtc9IMJUUAEA8Iz.jpg) -100px -100px;
position: fixed;
right:0;
top:0;
}
.errors
{
    color: red;
    font-weight: bold;
    text-align: center;
}


* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.container {
    max-height: 100vh;
    overflow-y: scroll;
    border: 1px solid gray;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}
li {
    border: 1px solid white;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}

.show-img {
    
    max-height: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 5px solid rgb(48, 167, 187);
    padding: 30px;
    border-radius: 25px;
  }


